[praw]
client_id=
client_secret=
user_agent=

[telebot]
token=
chat_id=

[memebot]
# comma seperated list of subreddits to get posts from
subreddit=programming,golang,kubernetes
# time in minutes before sending next post
breaktime=